/* The bounding box should be 80% of the width of the screen. */
.boundingBox{
  position: relative;
  width: 80vw;
  border: 1px solid red;
  flex-grow: 1;
}

.clickPoint{
  position: absolute;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.clickPoint:hover{
  opacity: 0.5;
}

.nickImage{
  height: 100%;
  width: 100%;
}

#starAnimation {
  position: absolute;
  display: inline;
}

#sparkleVideo {
  position: absolute;
  top: 23%;
  left: 41%;
  transform: translate(-41%, -23%);
  height: 500px;
  width: 500px;
}
